*{
	margin: 0px ;
	padding: 0px;
}
  
body
{
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1
{
    text-align: center;
}

h2
{
    text-align: center;
}

h4
{
line-height: 275%;
}

h3
{
line-height: 275%;
}